body {
    /*background: url(img/bg.jpg) no-repeat center center fixed; #dce5ef;*/
    background-color: #dfe0e4;
    margin: 0 auto;
    width: 1000px;
    background-size: cover;
}

#tabbed * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

body a {
    color: #32b6e6;
}

body a:hover {
    color: #e95d0f;
}

#tabbed {
    width: 100%;
    position: relative;
    overflow: hidden;
    float: center;
    text-align: left;
}


/***** Heading *****/

#heading {
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
    /*background:#fff;*/
    position: realtive;
    text-align: left;
}

#heading div {
    width: 100%;
    padding: 0 25px 5px;
    margin: 0;
    position: relative;
    text-align: left;
    font-weight: 400;
}


/***** Top *****/

#top {
    width: 100%;
    padding: 0.5%;
    margin-bottom: 6px;
    background: #fff;
    display: inline-block;
    float: center;
}

#top img {
    width: 99%;
    text-align: center;
    vertical-align: middle;
}


/***** Left column *****/

#left {
    float: left;
    width: 14%;
    display: inline-block;
    overflow: hidden;
}


/***** Right column *****/

#right {
    float: right;
    position: relative;
    z-index: 1;
    width: 86%;
    min-height: 289px;
    background: #fff;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    height: auto;
}


/***** Wrapper *****/

#right .wrapper {
    position: relative;
    width: 92%;
    margin: 1% 2%;
    float: left;
}


/***** Menu *****/

#left ul.menu {
    margin: 0 0 5px;
    padding: 0;
    border: 0;
    list-style: none;
    position: fixed;
}

#left ul.menu li {
    z-index: 0;
    font-size: 18px;
    margin: 0;
    padding: 0;
    border: 0;
}

#left ul.menu li a {
    cursor: pointer;
    display: block;
    position: static;
    background: #32b6e6;
    /*light blue*/
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-align: left;
    padding-left: 25px;
    margin: 0 0 5px;
    width: 115%;
    height: 44px;
    line-height: 44px;
    transform: translateX(10px);
}

#left ul.menu li a:hover,
#left ul.menu li a:focus {
    background: #1e71b0;
    /*dark blue*/
}

#left ul.menu li a:hover {
    transform: translateX(0);
}

#left ul.menu li a.current {
    background: #fff;
    color: #e95d0f;
    /*orange*/
    transform: translateX(0);
}

#left ul.menu ul.subpages {
    margin: 9px 0 -10px 15px;
}

#left ul.menu ul.subpages a {
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    padding: 4px 5px 4px 8px;
}


/***** 6 column grid *****/

#tabbed .row {
    display: block;
    float: center;
    width: 100%;
    clear: both;
    margin-bottom: .5em;
}

#tabbed .row img {
    display: inline-block;
}

#tabbed .row:last-child {
    margin-bottom: 0;
}

#tabbed .hline {
    margin-bottom: 1.6em;
    width: 100%;
    border: 0;
    border-bottom: 3px solid #dfe0e4;
}

#tabbed .cell {
    display: inline-block;
    float: left;
    position: relative;
    margin: 0 4% 2% 0;
    font-size: 14px;
    line-height: 20px;
    color: #555;
}

#tabbed .cell:last-child {
    margin-right: 0;
}

#tabbed .cell.col81 {
    width: 81%;
}

#tabbed .cell.col66 {
    width: 66%;
}

#tabbed .cell.col48 {
    width: 48%;
}

#tabbed .cell.col30 {
    width: 30%;
}

#tabbed .cell.col15 {
    width: 15%;
}


/***** Titles *****/

body h1 {
    font-size: 34px;
    font-family: "Roboto Slab", serif;
    line-height: 35px;
    margin: .3em .3em 0;
    color: #1e71b0;
    font-weight: 700;
}

#tabbed .title {
    font-family: "Roboto Slab", serif;
    color: #1e71b0;
}

#tabbed .title.large {
    font-size: 28px;
    width: 100%;
    line-height: 30px;
    border-bottom: 3px solid #dfe0e4;
    padding-bottom: .25em;
    margin-bottom: .65em;
}

#tabbed .title.normal {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    padding-bottom: .65em;
}

#tabbed .title.small {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: .55em;
}

#tabbed .title.mini {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: .35em;
}

#tabbed .title.inline {
    font-size: 16px;
    display: block;
    padding-bottom: .35em;
}


/***** Paragraphs *****/

#tabbed p {
    display: block;
    text-align: justify;
}

#tabbed p.large {
    font-size: 18px;
    line-height: 24px;
    color: #555;
    margin-bottom: 1.2em;
}

#tabbed p.normal {
    font-size: 14px;
    line-height: 22px;
    color: #555;
    margin-bottom: 1.4em;
}

#tabbed p.small {
    font-size: 12px;
    line-height: 16px;
    color: #aaa;
    margin: 0;
}


/***** Table style *****/

#tabbed .table {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: .4em;
    text-align: center;
    border-bottom: solid 1.5px #dfe0e4;
}

#tabbed .table.title {
    text-transform: uppercase;
    padding: 6px 0;
    border-bottom: 0px;
    background: #32b6e6;
    color: #fff;
}


/***** List style *****/

#right ul {
    margin: 0;
    padding: 0;
    margin-bottom: .5em;
    padding-bottom: .2em;
}

#right ul li {
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    color: #555;
    padding: 0 0 .5em;
    text-align: justify;
}

#right ul li a {
    color: #32b6e6;
}

#right ul li a:hover {
    color: #e95d0f;
}

#right ul li:before {
    content: '\2022 ';
    margin-right: 10px;
    font-size: 25px;
    vertical-align: middle;
    color: #e95d0f;
}

#right ul li span.normal {
    font-size: 15px;
    line-height: 22px;
    color: #555;
    font-style: italic;
}

#right ul li span.small {
    font-size: 12px;
    line-height: 16px;
    color: #555;
}

#right ol {
    counter-reset: count;
    list-style-type: none;
    margin-bottom: .5em;
    padding: .2em 0 1em;
    text-align: justify;
}

#right ol li {
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    color: #555;
    counter-increment: count;
}

#right ol li:before {
    content: counter(count)'. ';
    color: #e95d0f;
}


/***** Colors *****/

#tabbed .orange {
    color: #ff993f;
    /*light orange*/
}

#tabbed .gray {
    color: #333;
}

#tabbed .blue {
    color: #1e71b0;
}

#tabbed b {
    font-weight: bold;
}

#tabbed i {
    font-style: italic;
}


/***** Back to top *****/

.back-to-top {
    position: fixed;
    z-index: 2;
    bottom: 15px;
    right: -58px;
    width: 36px;
    height: 44px;
    background-color: #32b6e6;
    padding: 0 .7em 0 .6em;
    transform: translateX(10px);
}

.back-to-top img {
    float: left;
    width: 25px;
    margin: .8em 0;
}

.back-to-top:hover {
    background-color: #1e71b0;
    transform: translateX(0px);
}


/***** Footer *****/

#footer {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 12px;
    margin: 3px 0 0 8%;
    color: #555;
    text-align: center;
    font-weight: 200;
    font-size: 52%;
}


/***** Transitions *****/

#tabbed a,
a.back-to-top {
    transition: all ease 0.3s;
}